body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

a {
    color: black;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;


}

a:hover {
    color: chartreuse;
    text-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

h1 {
    color: darkcyan;
}